html {
    background: url(./cool-background.svg);
    background-repeat: no-repeat;
    background-size: 120%;
    font-family: 'Merriweather Sans', sans-serif;
}

.main {
    text-align: center;

    margin-right: 500px;
    margin-left: 150px;
}

h1 {
    padding: 50px;
    font-size: 3rem;
}

form {}

input {
    border: none;
    border-bottom: 2px solid gray;
    background: none;
    width: 40%;
    font-size: 2rem;
    background-image: url(./search-location-solid.svg);
    background-repeat: no-repeat;
    padding-left: 60px;
    margin-left: 20px;
    transition: 200ms ease-in-out;

}

input:focus {
    border-bottom: 2px solid #22226B;
    outline: none;
    color: #22226B;

}

button {
    background-color: #22226B;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    margin: 50px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

#one {
    font-size: 1.8rem;
}

#two {
    font-size: 1.8rem;
}